.project {
    margin-bottom: 395px;

    &-title {
        color: #12100C;
        text-align: center;
        font-size: 54px;
        font-style: normal;
        font-weight: 700;
        line-height: 63.72px;
    }

    &-img {
        margin-left: 116px;
    }

    &-img-2 {
        margin-left: 139px;
    }

    &-title-2 {
        color: #12100C;
        text-align: center;
        font-size: 54px;
        font-style: normal;
        font-weight: 700;
        line-height: 63.72px;
    }
}