.info {
  margin-bottom: 207px;
}
.info-box {
  display: flex;
  gap: 0 140px;
}
.info-title {
  margin-bottom: 48px;
  color: #12100C;
  text-align: center;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 71.82px;
}
.info-left-box {
  width: 642px;
  height: 651px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
}
.info-left-title {
  margin-bottom: 8px;
  color: #12100C;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.info-left-text {
  width: 471px;
  color: rgba(18, 16, 12, 0.7);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  margin: 0 auto;
  margin-bottom: 62px;
  font-weight: 400;
  line-height: 31.92px;
}
.info-left-item {
  margin-left: 190px;
}
.info-left-btn {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  color: white;
  border: none;
  padding: 9px 16px 9px 33px;
  border-radius: 12px;
  background: #FC6D26;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.info-left-btn-2 {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  color: white;
  border: none;
  padding: 9px 16px 9px 33px;
  border-radius: 12px;
  background: #000;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.info-left-btn-3 {
  margin-bottom: 73px;
  display: flex;
  align-items: center;
  color: white;
  border: none;
  padding: 9px 16px 9px 33px;
  border-radius: 12px;
  background: #2684FF;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.info-left-img {
  margin-right: 16px;
}
.info-left-text-2 {
  width: 486px;
  color: rgba(18, 16, 12, 0.7);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.92px;
}
.info-left-btn-4 {
  color: rgba(18, 16, 12, 0.7);
  border: none;
  padding: 1px 16px;
  margin-left: 261px;
  font-size: 24px;
  font-style: normal;
  border-radius: 12px;
  background: #FFE4BC;
  font-weight: 400;
  line-height: 31.92px;
}
.info-right-title {
  color: #12100C;
  margin-bottom: 7px;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.info-right-text {
  margin-bottom: 32px;
  color: rgba(18, 16, 12, 0.7);
  text-align: center;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.92px;
}
.info-right-box-2 {
  width: 530px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #F9F9F9;
}
.info-right-item {
  margin-bottom: 12px;
}
.info-right-box-3 {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-right-title-2 {
  color: rgba(18, 16, 12, 0.7);
  margin-left: 16px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.info-right-btn {
  padding: 8px 12px;
  color: #FFF;
  margin-left: 142px;
  border-radius: 12px;
  background: #12100C;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}/*# sourceMappingURL=info.css.map */